@charset "UTF-8";
/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  color: #653F36;
  font-weight: normal;
  font-family: "YuMincho";
}

@media (max-width: 999px) {
  h1, h2, h3, h4, h5, h6 {
    font-family: "YuMincho";
  }
}

p {
  font-family: "YuGothic";
}

* {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

@media (min-width: 1000px) {
  body {
    margin: 0 auto;
    background-image: url(img/bg-1.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
}

@media (max-width: 999px) {
  body {
    background-size: contain;
    background-repeat: no-repeat;
  }
}

/* ここからCSSを書いていきましょう */
.bg-1 {
  z-index: -10;
}

.bg-1::after {
  margin-top: 789px;
  width: 500px;
}

.header {
  height: 74px;
  display: flex;
}

@media (min-width: 1000px) {
  .header {
    align-items: center;
  }
  .header-logo {
    margin-left: 10.4%;
  }
  .header-logo img {
    width: 272px;
  }
}

@media (max-width: 999px) {
  .header {
    width: 100%;
    position: fixed;
    /*以下ヘッダー固定*/
    background-color: #FFF6E6;
    opacity: 0.9;
    top: 0;
    left: 0;
    z-index: 30;
  }
  .header-logo {
    margin-left: 6%;
    align-self: center;
  }
  .header-logo img {
    width: 150px;
  }
}

@media (min-width: 1000px) {
  .header-list {
    width: 20%;
    margin-left: auto;
    margin-bottom: 5px;
    display: flex;
    align-self: flex-end;
  }
}

@media (max-width: 999px) {
  .header-list {
    display: none;
  }
}

.header-item_1, .header-item_2 {
  text-align: center;
  height: 46px;
}

.header-item_1 a, .header-item_2 a {
  width: 100%;
  height: 46px;
  display: inline-block;
  color: #653F36;
  font-size: 18px;
}

.header-item_1 a p, .header-item_2 a p {
  letter-spacing: 2px;
  line-height: 32px;
}

.header-item_1 a i, .header-item_2 a i {
  vertical-align: top;
  width: 18px;
}

.header-item_1 {
  width: 145px;
  border-left: 1px solid #653F36;
  border-right: 1px solid #653F36;
}

.header-item_2 {
  width: 123px;
  border-right: 1px solid #653F36;
}

@media (min-width: 1000px) {
  .header-contact {
    margin-left: 34px;
    margin-right: 4.2%;
    display: flex;
    flex-direction: column;
  }
  .header-contact a {
    margin-top: -4px;
    width: 217px;
    height: 41px;
    font-size: 15px;
    border: 1px solid #A33143;
    border-radius: 0px 0px 5px 5px;
    background-color: white;
    text-align: center;
    line-height: 42.46px;
    color: #A33143;
  }
  .header-contact a span {
    margin-right: 10.4px;
  }
  .header-contact p {
    font-size: 25px;
    color: #653F36;
    text-align: left;
    margin-left: 15px;
    margin-top: 5px;
    letter-spacing: 2.5px;
    font-family: "Mincho";
  }
  .header-contact .fa-phone {
    margin-right: 7.2px;
    font-size: 18px;
  }
}

@media (max-width: 999px) {
  .header-contact {
    display: none;
  }
}

@media (min-width: 1000px) {
  .header-bar {
    display: none;
  }
}

@media (max-width: 999px) {
  .header-bar {
    margin-right: 2%;
    margin-left: auto;
    text-align: center;
    color: #653F36;
    align-self: flex-end;
    margin-bottom: 3px;
  }
  .header-bar i {
    font-size: 26px;
    margin-bottom: 6px;
  }
  .header-bar p {
    font-size: 13.5px;
  }
}

@media (min-width: 1000px) {
  .main-top {
    width: 1000px;
    margin: 58px auto 178px;
  }
}

@media (max-width: 999px) {
  .main-top {
    width: 100%;
    height: 645px;
    margin: -10px auto 5px;
    padding-bottom: 42px;
    background-image: url(img/bg-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 74px;
  }
}

.main-top_slide {
  position: relative;
}

.main-top_slide img {
  position: absolute;
  left: 0;
  top: 0;
}

@media (min-width: 1000px) {
  .main-top_slide img {
    position: absolute;
    top: 0;
    left: 97px;
    display: block;
    width: 570px;
    z-index: 20;
  }
}

@media (max-width: 999px) {
  .main-top_slide img {
    position: absolute;
    top: 288px;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    width: 340px;
    z-index: 20;
    margin: -66px auto 0px;
  }
}

@media (min-width: 1000px) {
  .main-top_txt {
    position: absolute;
    top: 30px;
    left: 590px;
    position: relative;
    height: 385px;
    width: 385px;
    align-self: center;
  }
  .main-top_txt h2 {
    writing-mode: vertical-rl;
    font-size: 40px;
    color: #707070;
  }
  .main-top_txt h2:first-child {
    position: absolute;
    top: 60px;
    left: 205px;
    z-index: 10;
    letter-spacing: 28px;
  }
  .main-top_txt h2:nth-child(even) {
    position: absolute;
    top: 80px;
    left: 115px;
    z-index: 10;
    letter-spacing: 28px;
  }
  .main-top_txt img {
    width: 385px;
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media (max-width: 999px) {
  .main-top_txt {
    margin: auto;
    position: relative;
    height: 280px;
    width: 350px;
    align-self: center;
  }
  .main-top_txt h2 {
    writing-mode: vertical-rl;
    font-size: 24px;
    color: #707070;
  }
  .main-top_txt h2:first-child {
    position: absolute;
    top: 55px;
    left: 175px;
    z-index: 10;
    letter-spacing: 25px;
  }
  .main-top_txt h2:nth-child(even) {
    position: absolute;
    top: 67px;
    left: 135px;
    z-index: 10;
    letter-spacing: 25px;
  }
  .main-top_txt img {
    width: 280px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.main-chara {
  margin: 0 auto;
}

@media (min-width: 1000px) {
  .main-chara {
    width: 1001.04px;
    padding-top: 30px;
    margin-bottom: 86px;
  }
}

@media (max-width: 999px) {
  .main-chara {
    width: 350px;
    margin-top: -74px;
    padding-top: 104px;
    margin-bottom: 98px;
  }
}

.main-chara_tit {
  margin: 0 auto;
}

@media (min-width: 1000px) {
  .main-chara_tit {
    width: 160px;
  }
}

@media (max-width: 999px) {
  .main-chara_tit {
    width: 130px;
    font-size: 20px;
  }
}

.main-chara_tit h3 {
  border-bottom: 1px dotted #653F36;
  text-align: center;
}

@media (min-width: 1000px) {
  .main-chara_tit h3 {
    text-align: center;
    margin-bottom: 42px;
    letter-spacing: 1px;
    font-size: 25px;
  }
}

@media (max-width: 999px) {
  .main-chara_tit h3 {
    font-size: 20px;
    margin-bottom: 33px;
  }
}

.main-chara_list {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1000px) {
  .main-chara_list {
    margin-bottom: 52px;
  }
}

@media (max-width: 999px) {
  .main-chara_list {
    margin-bottom: 37px;
  }
}

@media (min-width: 1000px) {
  .main-chara_list li:nth-child(even) {
    flex-direction: row-reverse;
  }
}

@media (min-width: 1000px) {
  .main-chara_item_1 {
    height: 457px;
    display: flex;
  }
  .main-chara_item_1_pic {
    width: 460px;
    position: relative;
  }
  .main-chara_item_1_pic img:first-child {
    width: 430px;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 29px;
  }
  .main-chara_item_1_pic img:nth-child(even) {
    width: 430px;
    position: absolute;
    top: 37px;
    left: 0px;
  }
  .main-chara_item_1_txt {
    width: 381px;
    margin-left: 56px;
    margin-top: 35px;
    align-self: center;
  }
  .main-chara_item_1_txt h4 {
    font-size: 25px;
    margin-bottom: 7px;
  }
  .main-chara_item_1_txt p {
    font-size: 16px;
    line-height: 27px;
  }
}

@media (max-width: 999px) {
  .main-chara_item_1 {
    display: flex;
    flex-direction: column-reverse;
  }
  .main-chara_item_1_pic {
    width: 100%;
    height: 343px;
    margin-bottom: 38px;
    position: relative;
  }
  .main-chara_item_1_pic img:first-child {
    width: 310px;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .main-chara_item_1_pic img:nth-child(even) {
    width: 310px;
    position: absolute;
    top: 33px;
    left: 0px;
  }
  .main-chara_item_1_txt {
    align-self: center;
  }
  .main-chara_item_1_txt h4 {
    margin-bottom: 10px;
    font-size: 20px;
  }
  .main-chara_item_1_txt p {
    width: 345px;
    font-size: 16px;
    line-height: 27px;
  }
}

@media (min-width: 1000px) {
  .main-chara_item_2 {
    height: 457px;
    display: flex;
    justify-content: flex-start;
    margin-left: 0px;
  }
  .main-chara_item_2_pic {
    width: 460px;
    position: relative;
    margin-left: 63px;
  }
  .main-chara_item_2_pic img:first-child {
    width: 431.34px;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
  }
  .main-chara_item_2_pic img:nth-child(even) {
    width: 430.34px;
    position: absolute;
    top: 39px;
    left: 29px;
  }
  .main-chara_item_2_txt {
    width: 400px;
    align-self: flex-start;
    margin-top: 157px;
  }
  .main-chara_item_2_txt h4 {
    font-size: 25px;
    line-height: 32px;
    padding-bottom: 7px;
  }
  .main-chara_item_2_txt p {
    font-size: 16px;
    line-height: 27px;
  }
}

@media (max-width: 999px) {
  .main-chara_item_2 {
    display: flex;
    flex-direction: column-reverse;
  }
  .main-chara_item_2_pic {
    width: 100%;
    height: 343px;
    margin-bottom: 56px;
    position: relative;
  }
  .main-chara_item_2_pic img:first-child {
    width: 310px;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .main-chara_item_2_pic img:nth-child(even) {
    width: 310px;
    position: absolute;
    top: 40px;
    right: 0;
  }
  .main-chara_item_2_txt {
    margin-bottom: 10px;
  }
  .main-chara_item_2_txt h4 {
    line-height: 33px;
    margin-bottom: 12px;
    font-size: 20px;
  }
  .main-chara_item_2_txt p {
    margin-left: 3px;
    font-size: 15px;
    line-height: 26px;
  }
}

@media (min-width: 1000px) {
  .main-chara_item_3 {
    height: 453px;
    display: flex;
    margin-top: 8px;
  }
  .main-chara_item_3_pic {
    width: 460px;
    position: relative;
  }
  .main-chara_item_3_pic img:first-child {
    width: 430px;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 29px;
  }
  .main-chara_item_3_pic img:nth-child(even) {
    width: 430px;
    position: absolute;
    top: 34px;
    left: 0px;
  }
  .main-chara_item_3_txt {
    width: 381px;
    margin-left: 60px;
    align-self: center;
    margin-top: 30px;
  }
  .main-chara_item_3_txt h4 {
    font-size: 25px;
    margin-bottom: 6px;
    line-height: 32px;
  }
  .main-chara_item_3_txt p {
    font-size: 16px;
    line-height: 27px;
  }
}

@media (max-width: 999px) {
  .main-chara_item_3 {
    display: flex;
    flex-direction: column-reverse;
  }
  .main-chara_item_3_pic {
    width: 100%;
    height: 343px;
    margin-bottom: 42px;
    position: relative;
  }
  .main-chara_item_3_pic img:first-child {
    width: 310px;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .main-chara_item_3_pic img:nth-child(even) {
    width: 310px;
    position: absolute;
    top: 33px;
    left: 0px;
  }
  .main-chara_item_3_txt {
    align-self: center;
    margin-bottom: 7px;
  }
  .main-chara_item_3_txt h4 {
    margin-bottom: 9px;
    font-size: 20px;
    line-height: 35px;
  }
  .main-chara_item_3_txt p {
    width: 345px;
    font-size: 16px;
    line-height: 26px;
  }
}

@media (min-width: 1000px) {
  .main-chara_item_4 {
    height: 457px;
    display: flex;
    justify-content: flex-start;
    margin-left: 0px;
  }
  .main-chara_item_4_pic {
    width: 460px;
    position: relative;
    margin-left: 63px;
  }
  .main-chara_item_4_pic img:first-child {
    width: 430px;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
  }
  .main-chara_item_4_pic img:nth-child(even) {
    width: 430px;
    position: absolute;
    top: 37px;
    left: 29px;
  }
  .main-chara_item_4_txt {
    width: 400px;
    align-self: flex-start;
    margin-top: 174px;
  }
  .main-chara_item_4_txt h4 {
    font-size: 25px;
    line-height: 32px;
    padding-bottom: 7px;
  }
  .main-chara_item_4_txt p {
    font-size: 16px;
    line-height: 27px;
  }
}

@media (max-width: 999px) {
  .main-chara_item_4 {
    display: flex;
    flex-direction: column-reverse;
  }
  .main-chara_item_4_pic {
    width: 100%;
    height: 343px;
    position: relative;
  }
  .main-chara_item_4_pic img:first-child {
    width: 310px;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .main-chara_item_4_pic img:nth-child(even) {
    width: 310px;
    position: absolute;
    top: 33px;
    right: 0;
  }
  .main-chara_item_4_txt h4 {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 35px;
  }
  .main-chara_item_4_txt p {
    margin-left: 3px;
    font-size: 15px;
    line-height: 26px;
  }
}

.main-chara a {
  display: block;
  font-family: "YuGothic";
  width: 168px;
  height: 38px;
  font-size: 15px;
  line-height: 40px;
  margin: 0 auto;
  text-align: center;
  color: #A33143;
  border: 1px solid #A33143;
  border-radius: 5px;
}

.main-chara a span {
  margin-left: 8px;
}

@media (min-width: 1000px) {
  .main-news {
    width: 722px;
    margin: 0 auto;
    padding: 25px 0px 65px;
  }
  .main-news_tit {
    width: 250px;
    margin: 0 auto;
  }
  .main-news_tit h3 {
    border-bottom: 1px dotted #653F36;
    text-align: center;
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 52px;
  }
  .main-news_item {
    border-top: 1px solid #F7E8E8;
    height: 157px;
    padding-top: 18px;
    padding-left: 1px;
  }
  .main-news_item h4 {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 5px;
  }
  .main-news_item p:first-child {
    letter-spacing: 0.5px;
  }
  .main-news_item p {
    font-size: 17px;
    line-height: 27px;
  }
}

@media (max-width: 999px) {
  .main-news {
    width: 345px;
    margin: -104px auto 107px;
    padding-top: 104px;
    /*ヘッダー固定*/
  }
  .main-news_tit {
    width: 200px;
    margin: 0 auto;
  }
  .main-news_tit h3 {
    border-bottom: 1px dotted #653F36;
    text-align: center;
    margin-bottom: 37px;
    font-size: 20px;
  }
  .main-news_item {
    border-top: 1px solid #F7E8E8;
    margin-bottom: 12px;
    padding-top: 16px;
  }
  .main-news_item h4 {
    font-size: 20px;
    margin: 0px auto 13px;
    line-height: 33px;
  }
  .main-news_item p {
    font-size: 14px;
  }
  .main-news_item1 {
    height: 168px !important;
  }
  .main-news_item2 {
    height: 172px !important;
  }
}

@media (min-width: 1000px) {
  .main-access {
    background-image: url(bg-2.png);
    background-size: cover;
    padding-top: 180px;
  }
  .main-access_cont {
    width: 1004px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 17px;
    padding-bottom: 56px;
  }
  .main-access_cont_left {
    width: 514px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }
  .main-access_cont_left_logo {
    border-bottom: 1px dotted #653F36;
    width: 100%;
    margin-bottom: 17px;
  }
  .main-access_cont_left_logo img {
    height: 32px;
  }
  .main-access_cont_left a {
    display: inline-block;
    width: 246px;
    height: 38px;
    border: 1px solid #A33143;
    border-radius: 5px;
    background-color: white;
    text-align: center;
    line-height: 42.46px;
    color: #A33143;
  }
  .main-access_cont_left a span {
    margin-right: 8.1px;
  }
  .main-access_cont_left_item {
    margin-top: 0px;
    margin-left: 24px;
  }
  .main-access_cont_left_item_tell {
    font-size: 25px;
    font-weight: normal;
    line-height: 25px;
    letter-spacing: 2.5px;
  }
  .main-access_cont_left_item_tell span {
    margin-right: 7px;
    font-size: 17px;
  }
  .main-access_cont_left_item_time {
    margin-top: -3px;
    margin-left: 28px;
    font-size: 12.5px;
  }
  .main-access_cont_left table {
    margin-top: 17px;
    margin-left: 3px;
    width: 100%;
    border: 2px solid #653F36;
  }
  .main-access_cont_left table th, .main-access_cont_left table td {
    text-align: center;
    font-weight: normal;
  }
  .main-access_cont_left table th span, .main-access_cont_left table td span {
    letter-spacing: 3px;
  }
  .main-access_cont_left table td {
    background-color: white;
    color: #653F36;
    font-size: 25px;
    letter-spacing: 1px;
    border: 1px solid #653F36;
  }
  .main-access_cont_left table .table-head {
    height: 45px;
    background-color: #653F36;
  }
  .main-access_cont_left table .time {
    font-size: 18px;
  }
  .main-access_cont_left table th {
    color: white;
    font-weight: normal;
    font-size: 18px;
  }
  .main-access_cont_left table .table-top {
    height: 68px;
  }
  .main-access_cont_left table .table-bottom {
    height: 68px;
    border-bottom: 2px solid #653F36;
  }
  .main-access_cont_left table .th-head {
    width: 175px;
  }
  .main-access_cont_right {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 447px;
  }
  .main-access_cont_right iframe {
    height: 280px;
    width: 447px;
    margin-bottom: 8px;
  }
  .main-access_cont_right p {
    height: 38px;
    width: 210px;
    margin-left: 5px;
    margin-right: 7px;
    font-size: 14px;
    line-height: 24px;
  }
  .main-access_cont_right a {
    display: inline-block;
    display: block;
    width: 218px;
    height: 39px;
    background-color: white;
    font-size: 14px;
    line-height: 42px;
    margin: 4px auto 0px;
    text-align: center;
    color: #A33143;
    border: 1px solid #A33143;
    border-radius: 5px;
  }
  .main-access_cont_right a span {
    margin-left: 11.8px;
  }
  .main-access_end_list {
    display: flex;
    justify-content: center;
    padding-bottom: 12px;
  }
  .main-access_end_item1, .main-access_end_item2 {
    color: #653F36;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: "YuGothic";
  }
  .main-access_end_item1 {
    padding-right: 9px;
  }
  .main-access_end_item2 {
    border-left: 1px solid #653F36;
    padding-left: 10.5px;
  }
}

@media (max-width: 999px) {
  .main-access {
    background-image: url(bg-3.png);
    background-size: cover;
    padding-top: 35px;
    width: 100%;
  }
  .main-access_cont {
    display: flex;
    flex-direction: column;
    padding-bottom: 28px;
    width: 350px;
    margin: 0 auto;
  }
  .main-access_cont_left {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 37px;
  }
  .main-access_cont_left_logo {
    display: block;
    border-bottom: 1px dotted #653F36;
    padding-bottom: 3px;
    padding-right: 200px;
    margin-bottom: 12px;
    width: 100%;
  }
  .main-access_cont_left_logo img {
    height: 30px;
  }
  .main-access_cont_left a {
    display: inline-block;
    width: 165px;
    height: 37px;
    border: 1px solid #A33143;
    border-radius: 5px;
    font-size: 12px;
    background-color: white;
    text-align: left;
    padding-left: 13px;
    line-height: 39px;
    color: #A33143;
  }
  .main-access_cont_left a span {
    margin-right: 5px;
    font-size: 14px;
  }
  .main-access_cont_left_item_tell {
    text-align: center;
    font-size: 19px;
    letter-spacing: 1px;
    line-height: 22px;
    font-weight: normal;
    font-family: "YuGothic";
  }
  .main-access_cont_left_item_tell span {
    margin-right: 5px;
    font-size: 14px;
  }
  .main-access_cont_left_item_time {
    font-size: 13px;
    text-align: left;
  }
  .main-access_cont_left table {
    display: none;
  }
  .main-access_cont_right {
    display: flex;
    flex-wrap: wrap;
  }
  .main-access_cont_right iframe {
    height: 250px;
    width: 350px;
    margin-bottom: 8px;
  }
  .main-access_cont_right p {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    width: 210px;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 5px;
  }
  .main-access_cont_right a {
    display: inline-block;
    display: block;
    width: 220px;
    height: 38px;
    background-color: white;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 40px;
    font-family: "YuGothic";
    margin: 0 auto;
    text-align: center;
    color: #A33143;
    border: 1px solid #A33143;
    border-radius: 5px;
  }
  .main-access_cont_right a span {
    margin-left: 9px;
  }
  .main-access_end_list {
    display: flex;
    justify-content: center;
    padding-bottom: 4px;
  }
  .main-access_end_item1, .main-access_end_item2 {
    color: #653F36;
    font-size: 13px;
    font-family: "YuGothic";
  }
  .main-access_end_item2 {
    border-left: 1px solid #653F36;
    padding-left: 9.5px;
    margin-left: 12px;
  }
}

@media (max-width: 999px) {
  .footer {
    height: 91.03px;
  }
}

.footer-text {
  height: 27px;
  background-color: #653F36;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text p {
  color: white;
  font-size: 13px;
  letter-spacing: 1px;
}

@media (min-width: 1000px) {
  .top-btn img {
    width: 35px;
    position: fixed;
    bottom: 10px;
    right: 77px;
    z-index: 30;
  }
}

@media (max-width: 999px) {
  .top-btn img {
    display: none;
  }
}

@media (min-width: 1000px) {
  .contact {
    display: none;
  }
}

@media (max-width: 999px) {
  .contact {
    display: block;
    width: 100%;
    position: fixed;
    /*以下フッター固定*/
    bottom: 0;
    left: 0;
    z-index: 30;
  }
  .contact-top_btn {
    padding-bottom: 8px;
  }
  .contact-top_btn a {
    display: block;
    width: 32px;
    margin-right: 28.2px;
    margin-left: auto;
  }
  .contact-top_btn a p {
    width: 32px;
    height: 32px;
  }
  .contact-top_btn a p img {
    width: 32px;
  }
  .contact-menu {
    background-color: white;
    opacity: 0.9;
  }
  .contact-menu_list {
    height: 64.03px;
    display: flex;
    align-items: flex-end;
  }
  .contact-menu_list li {
    text-align: center;
    height: 41.69px;
    margin-bottom: 9px;
  }
  .contact-menu_list li a {
    display: block;
    height: 41.69px;
    width: 100%;
  }
  .contact-menu_list li i {
    font-size: 19px;
    color: #653F36;
  }
  .contact-menu_list li p {
    font-size: 11px;
    color: #653F36;
  }
  .contact-menu_item1 {
    width: 35%;
  }
  .contact-menu_item1 a {
    padding-top: 5px;
  }
  .contact-menu_item1 a i {
    font-size: 18px;
    padding-left: 7px;
  }
  .contact-menu_item1 a p {
    padding-left: 8px;
  }
  .contact-menu_item2 {
    width: 33%;
    border-left: 1px solid #653F36;
    border-right: 1px solid #653F36;
  }
  .contact-menu_item2 a i {
    margin-bottom: 6px;
  }
  .contact-menu_item2 a p {
    letter-spacing: 1px;
  }
  .contact-menu_item3 {
    width: 32%;
  }
  .contact-menu_item3 a i {
    margin-bottom: 6px;
    padding-left: 8px;
  }
  .contact-menu_item3 a p {
    margin-left: 7px;
  }
}

@media (min-width: 1000px) {
  .modal {
    display: none;
  }
}

@media (max-width: 999px) {
  .modal {
    display: none;
    background-color: #FFF6E6;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
  }
  .modal-menu {
    display: flex;
    flex-direction: column;
  }
  .modal-menu_ret {
    margin-top: 19px;
    margin-left: auto;
    margin-right: 8.5px;
    text-align: center;
  }
  .modal-menu_ret a {
    color: #5F2201;
  }
  .modal-menu_ret a i {
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 7px;
  }
  .modal-menu_ret a p {
    font-size: 13px;
  }
  .modal-menu_logo {
    width: 180px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .modal-menu_logo img {
    width: 180px;
  }
  .modal-menu_item1, .modal-menu_item2 {
    margin-bottom: 21px;
  }
  .modal-menu_item1 a, .modal-menu_item2 a {
    display: block;
    height: 58px;
    width: 220px;
    margin: 0 auto;
    border: 1px solid #653F36;
    border-radius: 9px;
    background-color: white;
    color: #653F36;
    font-size: 18px;
    font-family: "YuGothic";
    line-height: 58px;
  }
}
